extends layout

block content
    h1 All Students
    table
        tr
            th ID
            th Name
        for item in data
            tr
                td #{item.id}
                td
                    a(href='/student-single/' + item.id) #{item.name}
