extends layout

block content
    h1 All Modules
    table
        tr
            th Code
            th Module Name
        for item in data
            tr
                td #{item.code}
                td
                    a(href='/module-single/' + item.code) #{item.name}
