extends layout

block content
    h1 Welcome to the SD2 Student App
    p Use the links below to explore:
    ul
        li
            a(href='/all-students-formatted') All Students
        li
            a(href='/all-programmes-formatted') All Programmes
        li
            a(href='/all-modules-formatted') All Modules
